/*start common area*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --maincolor: #141922;
    --hrcolor: #adff2f;
    --textgray: #707070;
    --footgray: #282828;
    --pluscolor: #a3a3a3;
}

.debug{
    #head>nav, #head>main{
        border: 1px dashed;
    }
    
    footer>div{
        height: 100px;
        width: calc(100% / 3 );
    }
    div{
        border: 1px dashed white;
    }
}
/*start scrollbar area*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--textgray);  
}

::-webkit-scrollbar-track {
    background-color: var(--maincolor); 
    border-radius: 6px;
}
/*start body area*/
body{
    overflow: hidden;
}

#head{
    display: flex;
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 245px;
        background-color: black;
        color: var(--textgray);
        height: calc(100vh - 100px);
        overflow: auto;
        
    }
    main{
        width: calc(100% - 245px);
        background-color: var(--maincolor);
        overflow: auto;
        
        h1{
            color: white;
        }
    }
}



#songs-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    strong{
        padding: 0 10px 40px 10px;
        color: var(--textgray);
        div{
            padding-bottom: 2px;
        }
    }
    strong:hover{
        color: white;
    }
    hr{
        
        border: none;
        height: 2px;
        background-color: var(--hrcolor);
        width: 40%;
        margin: auto;
    }     
}

footer{
    height: 100px;
    width: 100%;
    background-color: var(--footgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    #footer-title{
        text-align: left;
    }
    position: absolute;
    bottom: 0;
}


#songs{
    margin-top: 100px;
    height: calc(100vh - 200px);
    padding: 30px 20px;
}
.dis-none{
        display: none;
    }
.col-2{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    div{
        padding-bottom: 20px;
        width: calc(100% / 12 * 2);
        max-width: 250px;
        img{
            width: 100%;
            position: relative;
            left: -10px;
        }
        .circle{
            border-radius: 9999px;
        }
        h4{
            color: white;
        }
        span{
            color: var(--textgray);
            
        }
        i{
            display: none;
        }
        
    }
    
    div:hover{
        
        i{
            display: flex;
            color: white;
            font-size: 60px;
            position: absolute;
            width: 100%;
            aspect-ratio: 1/1;
            justify-content: center;
            align-items: center;
            padding-bottom: 2%;
        }
        img{
            filter: brightness(0.5);
            
        }
    }
    .img-hover{
        width: 100%;
        display: flex; 
        position: relative;
    }
    
}
.justify-start{
    justify-content: start;
}
#songs-popular{
    .col-2{
        div{
            border-radius: 50%;
        }
    }
}

#playlist{
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
    strong{
        color: white;
    }
    div:hover{
        color: white;
        i{
            background-color: white;
        }
    }
    i{
        background-color: var(--pluscolor);
        color: black;
        padding: 8px;
        font-size: 20px;
        margin: 15px 0;
    }
    span{
        padding-left: 10px;
    }
    ul{
        list-style: none;
        li{
            padding: 10px 0;
            
        }
        li:hover{
            color: white;
        }
    }
}
#profile{
    position: relative;
    padding: 0 20px;
    img{
        padding: 0;
        margin: 0;
    }
    #install-icon{
        width: 20px;
    }
    #profile-icon{
        background-color: var(--pluscolor);
        border-radius: 50%;
        width: 35px;
        padding: 0 2px;
        margin: 10px 5px 3px 0;
    }
    span{
        position: relative;
        top: -5px;
        padding-left: 5px;
    }
    strong{
        color: white;
        position: relative;
        top: -14px;
    }
}
/*start media area*/
@media (max-width: 1100px){
    .col-3{
        flex-wrap: wrap;
        div{
            width: calc(100% / 12 * 3);
        }
    }
    .dis-none{
        display: block;
    }
}
@media (max-width: 700px){
    .col-6{
        flex-wrap: wrap;
        div{
            width: calc(100% / 12 * 6);
        }
    }
}
@media (max-width:600px){
    #head{
        nav{
            
            width: 50px;
            span{
                display: none;
            }
            #playlist{
                display: none;
            }
            hr{
                display: none;
            }
            strong{
                display: none;
            }
            #logo-lg{
                display: none;
            }
            #logo-sm{
                display: block;
                
            }
            img{
                padding: 0 10px;
            }
            #profile{
                padding: 0;
                #install-icon{
                    padding-right: 3px;
                    width: 39px;
                }
                #profile-icon{
                    margin-left: 8px;
                }
                
            }
        }
        main{
            width: calc(100% - 50px);
            #upgrade{
                span{
                    right: 75px;
                }
                span:hover{
                    right: 50px;
                }
            }
        }
    }
    
}

#upgrade{
    width: 100%;
    height: 100px;            
    background-color: rgba(0, 0, 0, 0.5);            
    position: fixed;            
    top: 0;
    color: white;
    z-index: 10;
    span{
        border: 1px white solid;
        position: absolute;
        top: 30px;
        right: 270px;
        border-radius: 50px;
        padding: 10px 40px;
    }     
    span:hover{
        padding: 12px 50px;
        font-size: 20px;
        top: 25px;
        right: 250px;
    }       
}
/*start footer area*/
#footer-title, #footer-play, #footer-volume{
    width: calc(100% / 3 );
}
#footer-title{
    display: flex;
    align-items: center;
    img{
        width: 70px;
    }
    #footer-text{
        padding: 0 5% 0 1%;
        strong{
            color: white;
        }
        div{
            color: var(--pluscolor);
            font-size: 14px;
        }
        div:hover{
            text-decoration: underline;
        }
    }
    i:hover{
        color: white;
    }
    i{
        color: var(--textgray);
        font-size: 20px;
        padding: 5px;
    }
}
#footer-play{
    text-align: center;
    white-space: nowrap;
    .i-footer-container{
        max-width: 300px;
        margin: auto;
    }
    .i-footer-play{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        
    }
    i{
        padding: 0 5px;
        color: white;
        font-size: 20px;
        position: relative;
        top: -8px;
    }
    .play-icon{
        font-size: 40px;
        
        width: 100px;
        
    }
    .play-icon:hover{
        font-size: 45px;
        
    }
    .time-container{
        position: absolute;
        bottom: 10px;
        width: calc(100% / 3);
        display: flex;
        input[type="range"]{
            -webkit-appearance: none; 
            width: 100%; 
            margin: 5px 1%;
            background: var(--textgray);
            border-radius: 50px;
            height: 5px;
            
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
            background: var(--pluscolor); 
            border-radius: 50%; 
            cursor: pointer;
        }
        
        span{
            color: white;
            font-weight: bold;
        }
    }
    .time-container:hover{
        input[type="range"]::-webkit-slider-thumb{
            background: var(--hrcolor);
        }
    }
}
#footer-volume{
    display: flex;
    justify-content: end;
    i{
        color: white;
        padding: 0 2%;
    }
    input[type="range"]{
        -webkit-appearance: none; 
        appearance: none;
        width: 20%; 
        margin: 5px 1%;
        background: var(--textgray);
        border-radius: 50px;
        height: 5px;
        
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        background: var(--pluscolor); 
        border-radius: 50%; 
        cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb:hover{
        background: var(--hrcolor);
    }
    
}

/*start nav area*/
#logo-lg{
    padding: 25px 0 10px 20px;
    width: 150px;
}
#logo-sm{
    display: none;
}
#nav-left{
    margin-top: 10px;
    span{
        position: relative;
        top: -12px;
    }
    .text-white{
        color: white;
    }
    }
    span:hover{
        color: white;
    }
    img{
        width: 50px;
        padding-left: 20px;
        margin: 5px 0;
    }
    #left-line{
        border-left: 1px var(--hrcolor) solid;
        
    }
}

/*Start Footer Aera*/

