*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --maincolor: #141922;
    --hrcolor: #adff2f;
    --textgray: #707070;
    --footgray: #282828;
}

.debug{
    #head>nav, #head>main{
        border: 1px dashed;
    }
    #songs-nav>div{
        width: 100px;
        height: 30px;;
    }
    footer>div{
        height: 100px;
        width: calc(100% / 3 );
    }
    div{
        border: 1px dashed white;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--textgray);  
}

::-webkit-scrollbar-track {
    background-color: var(--maincolor); 
    border-radius: 6px;
}

body{
    overflow: hidden;
}

#head{
    display: flex;
    nav{
        width: 275px;
        background-color: black;
        color: var(--textgray);
        height: calc(100vh - 100px);
    }
    main{
        width: calc(100% - 275px);
        background-color: var(--maincolor);
        #upgrade{
            height: 100px;
            background-color: rgba(0, 0, 0, 0.5);
        }
        h1{
            color: white;
        }
    }
}

#songs-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    height: 100px;
    width: 100%;
    background-color: var(--footgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    #footer-title{
        text-align: left;
    }
    position: absolute;
    bottom: 0;
}


#songs{
    overflow: auto;
    
    height: calc(100vh - 200px);
    padding: 30px 20px;
}

.col-2{
    display: flex;
    div{
        width: calc(100% / 12 * 2);
        aspect-ratio: 1/1;
        text-align: center;
    }
}
#songs-popular{
    .col-2{
        div{
            border-radius: 50%;
        }
    }
}